изображения карточек адаптивны и растягтваются ?  
@font-face {
  font-family: "Roboto" ;
  src: url("/fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: Korataki;
  src: url(/fonts/Korataki.ttf);
  
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: "Lato", sans-serif;  
  font-size: 16px;
  
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

@media(max-width:775px){
  
.container{
  max-width: 680px;
  
  
}
.pre-header{
  display: none;
}
.header-nav{
  display: none;
}
 .container h1{
  font-size: 32px;
  font-family: Korataki;
  
}
input{
  display: none;
}
header .header-right .link {
  display: none;
}

.search{
display: none;
} 

.desc h3{
  font-size: 18px;margin-top: 20px;
}


}

.desc h3{
  margin-top: 20px;
}


.price{
  display: flex;
  gap: 16px;
  margin-top: 12px;
  font-size: 22px;
  font-family: "Lato";
  font-weight: 700;
}

.new-price{
  color: #E45302;
}

.opl-price{
  text-decoration: line-through;
  color: #808080;
}




.pre-header {
  background: #231815;
}
.pre-header__line {
  font-size: 16px;
  font-weight: 400;
  display: flex;
  height: 40px;
  align-items: center;
  color: #FFFFFF;
  justify-content: flex-end;
}
.pre-header__line-item {
  margin-right: 70px;
  color: #FFFFFF;
}

header {
  height: 80px;
  display: flex;
  align-items: center;
  font-weight: 600;
  color: #231815;
  justify-content: space-between;
  margin-bottom: 60px;
}
header .header-logo {
  height: 56.38px;
  width: 217px;
  margin-right: 100px;
}

header .header__list {
  display: flex;
}
header .header__list-item {
  display: flex;
}
header .header__list-item a {
  text-transform: uppercase;
  color: #231815;
}
header .header__list-item:not(:last-child) {
  margin-right: 100px;
}
header text {
  color: red;
}
header .search-input {
  border-radius: 88.64px;
  color: #000;
  height: 39px;
  width: 170px;
  padding: 21px;
  border: 1px solid #F5F5F5;
  background-image: url("/img/search-normal.svg");
  
  background-repeat: no-repeat;
  background-position: right 14px center;
  background-size: 21px 21px;
  margin-right: 20px;
 
}
header .search-input::placeholder {
  color: #231815;
}
header .header-right {
  display: flex;
}
header .header-right .link {
  border-radius: 100px;
  width: 138px;
  height: 39px;
  background: #000;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  gap: 12px;
  padding: 0 19px;
  position: relative;
}
header .header-right .link-img {
  width: 18px;
  height: 24px;
  
}

.link-img{
}

.badge{
  top: 3px;
  left: 28px;
  
  position: absolute;
  content: "";
  width: 18px;
  height: 18px;
  color: #000;
  border-radius: 100px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
} 

.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 290px); /* Автоматически адаптируется */
  gap: 50px 70px; /* Вертикальный gap 40px, горизонтальный 50px */
  
  margin-bottom: 60px;
 
}

.product-card {
  width: 318px;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 18px
}


.product-card{
  position: relative;
}

.product-card {
  display: block;
}

.product-card:hover .hidden{
  display: flex;
  
}

.desc p{
  position: absolute;
  top: 10px;
  left: 10px;
  color: white;
  background: #231815;
  padding: 8px 40px;
  font-weight: 600;
  border-radius: 100px;

}

.hidden{
  position: absolute;
  top: 389px;
  left: 0;
  background-color: rgba(245, 245, 245, 0.7);
  width: 320px;
  height: 88px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  justify-content: center;
  padding: 20px 0;
  align-items: center;
  display: none;
}

.hidden span{
  background: #E45302;
  color: white;
  padding: 13px 87px;
  border-radius: 100px;
}
.menu{
  display: none
}

 h1 {
  font-family: Korataki;
  font-weight: 400;
  font-size: 44px;
  margin-bottom: 40px;
}

  .product-card img{
    width: 100%;
  }




/* Адаптация для экранов ≤ 770px */
@media (max-width: 775px) {
  .product-grid {
    grid-template-columns: repeat(2, 1fr); /* 2 колонки с равной шириной */
    gap: 30px; /* Уменьшаем отступы для маленьких экранов */
  }
  
  .product-card {
    width: 100%; /* Карточки занимают всю ширину колонки */
  }
  header .header-right .link{
    display: none;
  }

  .menu{
    display: flex;
    cursor: pointer;
  }

  .hidden{
     top: 397px;
  left: 0;
   width: 325px;
  }
  


 
}

@media (max-width: 395px) {
  .container {
    max-width: 320px; /* Ограничиваем максимальную ширину контейнера */
    
  
  }

  .hidden{
    top: 135px;
    left: 0;
  width: 145px;
  
 }

 span{
  width: 2px;
 };

  .product-grid{
    grid-template-columns: repeat(2, 150px); /* 2 колонки с равной шириной */
    gap: 10px; /* Уменьшаем отступы для маленьких экранов */
  }

  .product-card img{
    width: 100%;
  }

  .footer__column {
    display: flex;
    flex-direction: column;
  }
.price{
  font-size: 15px;
}

.desc h3 {
  font-size: 15px;
}
}



















main {
  flex: 1; /* Основной контент занимает всё свободное пространство */
  min-height: calc(100vh - 320px - 80px - 60px); /* Высота минус футер, header и margin */
}









footer {
  background: #0C0C0C;
  color: #FFFFFF;
  padding: 60px 0;
  font-family: "Roboto",sans-serif;

  padding: 60px 0;
  
}
/* 
.footer__column:not(:last-child){

  align-items: center;
} */

.footer__column{
  display: flex;
  justify-content: space-between;
 flex:1 1;
}

.footer__img{
  margin-bottom: 53px;
}

.column a{}
 

 .column-heading{
  margin-bottom: 38px;
} 

.column-heading a {
  margin-top: 20px;
  display: block;
  color: white;
}

.media{
  display: flex;
  align-items: center;
 justify-content: space-between;
 margin-top: 110px;
}





.column-public{
  color: #808080;
  display: flex;
    align-items: flex-end;
    flex-direction: column;

}

.public-heading{
  padding-bottom: 20px;

}

.column .copyrite{
  color: #808080;
  font-family: "Roboto", sans-serif;
}

.column .copyrite a{
  color:  #808080;
  text-decoration: underline;
}


/*# sourceMappingURL=styles.css.map */