html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: Lato, sans-serif;
  font-weight: normal;
  font-size: 16px;
  
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.pre-header {
  background: #231815;
}
.pre-header__line {
  font-size: 16px;
  font-weight: 400;
  display: flex;
  height: 40px;
  align-items: center;
  color: #FFFFFF;
  justify-content: flex-end;
}
.pre-header__line-item {
  margin-right: 70px;
  color: #FFFFFF;
}

header {
  height: 80px;
  display: flex;
  align-items: center;
  font-weight: 600;
  color: #231815;
  justify-content: space-between;
  margin-bottom: 60px;
}
header .header-logo {
  height: 56.38px;
  width: 217px;
  margin-right: 100px;
}
header img {
  display: block;
}
header .header__list {
  display: flex;
}
header .header__list-item {
  display: flex;
}
header .header__list-item a {
  color: #231815;
}
header .header__list-item:not(:last-child) {
  margin-right: 100px;
}
header text {
  color: red;
}
header .search-input {
  border-radius: 88.64px;
  color: #000;
  height: 39px;
  width: 170px;
  padding: 21px;
  border: 1px solid #F5F5F5;
  background-image: url(/img/search-normal.svg);
  background-repeat: no-repeat;
  background-position: right 14px center;
  background-size: 21px 21px;
  margin-right: 20px;
}
header .search-input::placeholder {
  color: #231815;
}
header .header-right {
  display: flex;
}
header .header-right .link {
  border-radius: 100px;
  width: 138px;
  height: 39px;
  background: #000;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  gap: 12px;
  padding: 0 19px;
}
header .header-right .link-img {
  width: 18px;
  height: 24px;
}

main {
  flex: 1; /* Основной контент занимает всё свободное пространство */
  min-height: calc(100vh - 320px - 80px - 60px); /* Высота минус футер, header и margin */
}

.search {
  font-family: "Korataki";
  font-weight: 400;
  font-size: 44px;
  margin-bottom: 40px;
}
@font-face {
  font-family: "Korataki";
  src: url(/fonts/Korataki.ttf);
}

.product-card .more{
  display: none;
}

.product{
  display: flex;
  gap: 40px;
  margin-bottom: 60px;
  flex-wrap: wrap;
  font-family: Lato, sans-serif;
}

.product-card{
  position: relative;
  border-radius: 20px;
  width: 320px;
}

.product-card:hover  .more{
  display: inline;
  position: absolute;
  display: flex;
 align-items: center;
  top: 409px;
  border-radius: 100px;
  left: 31px;
  text-align: center;
  color: white;
  background: #E45302;
  padding: 13px 87px;

  transition: opacity 0.5s ease, visibility 0.5s ease; /* Анимация для opacity и visibility */
}
span{
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 8px 40px;
  background: #231815;
  border-radius: 100px;
  color: white;
}


.price{
  display: flex;
  column-gap: 16px;
  font-weight: 700;
  font-size: 22px;
  align-items: center;
}

.correct-price{
  
  color: #E45302;
}


.old-price{
  color:#808080;

}





footer {
  background: #0C0C0C;
  color: #FFFFFF;
  padding: 20px;
  text-align: center;
  height: 320px;
}

/*# sourceMappingURL=styles.css.map */
